In [4]:
test = CSV.read("G11", header=0, DataFrame);

In [2]:
using DataFrames, CSV

In [7]:
pwd()

"/Users/j/Documents/GitHub/ParallelizedKolterMixing/Fortran implementation/circut_v1.0612/tests"

In [5]:
test

1601×3 DataFrame
  Row │ Column1  Column2  Column3
      │ Int64    Int64    Int64?
──────┼───────────────────────────
    1 │     800     1600  missing
    2 │       1      793        1
    3 │       1        9       -1
    4 │       1        8        1
    5 │       1        2       -1
    6 │       2      794        1
    7 │       2       10       -1
    8 │       2        3       -1
    9 │       3      795        1
   10 │       3       11       -1
   11 │       3        4       -1
  ⋮   │    ⋮        ⋮        ⋮
 1592 │     791      792       -1
 1593 │     792      800        1
 1594 │     793      800       -1
 1595 │     793      794       -1
 1596 │     794      795       -1
 1597 │     795      796       -1
 1598 │     796      797       -1
 1599 │     797      798       -1
 1600 │     798      799       -1
 1601 │     799      800       -1
                 1580 rows omitted